* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* Navbar Styling */
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5%;
  align-items: center;
}

.title-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.title-container .logo {
  width: 3rem;
  cursor: pointer;
  animation: float 2.5s linear infinite;
  margin-right: 0.2rem;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(1rem);
  }
}

.list-container {
  display: flex;
  gap: 1rem;
}

.list-container a {
  color: var(--blue);
}

.list-container .profile {
  border-left: 1px solid #333;
  padding-left: 1rem;
}

.line {
  margin: 0 1.5rem;
}
